.oxy-area {
  height: 100%;
  border-radius: 10px;
  line-height: 1.5 !important;

  position: relative;
}

.oxy-num {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: auto;
  width: 50%;
  /* height: 100%; */
  /* top: -18px; */
  background-color: whitesmoke;
  border-radius: 5px;
}

.oxy-img {
  width: 15px;
  height: 15px;
  margin: auto;
}

.number {
  padding: 0px 10px;
  cursor: pointer;
  margin: auto;
  min-width: 150px;
}

.plug-button {
  margin: 0px;
  padding: 0px;
}

.oxi-pointer {
  cursor: pointer;
}
